*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --card-color: #496391;
  --background-blue: #CFD6E2;
  --dark-blue: #1B2A44;
  --dark-blue-shadow: #1b2a4473;
  --dark-green: #1B4332;
  --dark-green-shadow: #1b433280;
  --light-green-shadow: #1b43325e;
  --background-green: #CFE4D3;

}

section {
  padding: 4em 0;
}

input,
textarea {
  border: none;
  background-color: var(--background-blue);
  border-radius: 1em;
}

.section_header {
  text-align: center;
  font-size: min(8vw, 3.25em);
  font-family: 'Nunito', sans-serif;

  max-width: 80%;
  margin: 2.5em auto;
  margin-top: 0;
}

.section_content {
  width: 75%;
  margin: 0 auto;
  text-align: center;
}