*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --card-color: #357392;
  --background-blue: #CFD6E2;
  --background-dark-blue: #f1f1f1;
  --dark-blue: #1B2A44;
  --dark-blue-shadow: #1b2a4473;
  --dark-green: #1B4332;
  --dark-green-shadow: #1b433280;
  --light-green-shadow: #1b43325e;
  --background-green: #CFE4D3;
  --background-dark-green: #185C4F;
  --features-button-even: rgb(183, 218, 103);
  --features-button-odd: rgb(233, 134, 109);
  --dark-red: #b64242;
  --black-shadow: rgba(0, 0, 0, 0.3);
}

html, body, main {
  overflow-x: hidden;
}

section {
  /* min-height: 100vh; */
  padding: 4em 0;

  scroll-snap-align: start;
}

section p {
  font-family: 'Montserrat', sans-serif;
}

input,
textarea {
  border: none;
  background-color: var(--background-blue);
  border-radius: 1em;
}

a {
  text-decoration: none;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 0em;

  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y proximity;
}

.section_header {
  text-align: center;
  font-size: min(8vw, 3.25em);
  font-family: 'Nunito', sans-serif;

  max-width: 80%;
  margin: 1.5em auto;
  margin-top: 0;
}

.section_content {
  width: 75%;
  margin: 0 auto;
  text-align: center;
}

*::-webkit-scrollbar {
  display: none;
}


@media (min-width: 768px) {
  .section_header {
    margin-bottom: 2.5em;
  }

  .container {
    gap: 8vw;
  }
}