.process_content {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.form-contact {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 0.5em;

    height: 100%;
}

.direct-contact {
    flex-grow: 1;

    height: 100%;
    position: relative;
    padding: 2.5em 1.75em;
    padding-bottom: 10em;

    background-color: var(--background-green);
}

.direct-contact__image {
    position: absolute;
    width: min(50%, 225px);
    bottom: 0;
    right: 0;
}

.direct-contact__image > img {
    width: 100%;
}

.direct-contact__header {
    width: 90%;
    margin-bottom: 1.5em;

    color: var(--dark-green);
    font-family: 'Playfair', serif;
}

.direct-contact__link {
    text-decoration: none;
    color: white;
    padding: 0.5em 0.75em;

    border-radius: 0.25em;
    box-shadow: 2px 3px 10px var(--dark-green-shadow);
    background-color: var(--dark-green);
    font-family: 'Montserrat', sans-serif;
}

.step {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-grow: 1;
    padding: 1em;

    /* border-radius: 0 20px 20px 0; */
    background-color: var(--background-blue);
    font-family: 'Montserrat', sans-serif;
}

.step--count {
    align-self: center;

    padding: 0.5em 0.8em;
    border-radius: 100%;
    box-shadow: 0 5px 10px var(--dark-blue-shadow);

    color: white;
    font-weight: 600;
    background-color: #586A8A;
}

.step--instruction {
    width: 70%;
}

@media (min-width: 768px) {
    .process_content {
        flex-direction: row;
        justify-content: center;
        align-items: stretch;
        gap: 0.75em;

        height: min(30vw, 300px);
    }

    .form-contact {
        justify-content: space-between;
    }

    .direct-contact {
        border-radius: 1em 0 0 1em;
    }
    
    .step {
        border-radius: 0 1em 1em 0;
    }

    .step--count {
        font-size: min(2vw, 1.4em);
    }
}