.reviews_list {
    display: flex;
    flex-direction: row;
    gap: 2em;
    padding: 4em 3em;
    overflow-x: auto;
    background-color: var(--background-blue);
}

.reviews_list::-webkit-scrollbar {
    display: none;
}


.review-card,
.review-user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.review-card {
    position: relative;
    gap: 2em;
    flex-shrink: 0;
    flex-basis: clamp(250px, 80%, 300px);

    padding: 3em 1em;
    padding-bottom:2.25em;

    border-radius: 1em;
    box-shadow: 0 3px 20px var(--dark-blue-shadow);
    background-color: white;
}

.review-card__text {
    width: 80%;
    margin: 0 auto;

    text-align: justify;
    font-family: 'Source serif pro', sans-serif;

    z-index: 2;
}

.review-user {
    gap: 0.5em;
}

.review-user__name {
    font-size: 1.5em;
    font-family: 'Acme', serif;
}

.review-user__profession {
    font-size: 0.9em;
    font-family: 'Montserrat', sans-serif;
}

.code-openbraces,
.code-closebraces,
.code-close {
    position: absolute;
    width: 15%;
    opacity: 0.5;
}

.code-openbraces {
    top: 1em;
    left: 1.5em;
}

.code-close {
    width: 9%;
    bottom: 6em;
    right: 4em;
}

.code-closebraces {
    transform: rotateY(180deg);

    bottom: 6em;
    right: 1.5em;
}