#services > .section_header {
    margin-bottom: 1em;
}

.services_list {
    width: 80%;
    padding: 3em 1.5em;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    gap: 3em;

    scroll-snap-type: x mandatory;
}

.services_list::-webkit-scrollbar {
    display: none;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5em;
    width: clamp(160px, 70%, 240px);
    flex-shrink: 0;
    justify-content: center;
    padding: 1em 2em;
    transition: all 300ms ease-in-out;
    
    scroll-snap-align: center;
}

.card:hover {
    background-color: var(--card-color);
    border-radius: 1em;
    box-shadow: 3px 12px 22px rgba(0, 0, 0, 0.30);
}

.card:hover .card_text {
    color: white;
}

.card:hover svg > path {
    fill: white;
}

.card:hover svg > g {
    fill: white;
}

.card_image {
/* outline: 2px solid blue; */
    width: 70%;
}

.card_image svg > path,
.card_image svg > g {
    fill: black;
    transition: fill 300ms ease;
}

.card_image > svg {
    display: inline-block;
    width: 100%;
    height: 100%;
}

.card_text {
    max-width: 75%;
    text-align: center;
    font-size: 1.1em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    /* outline: 2px solid red; */
}

/* .swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right {
    background-image: none;
}

.swiper-wrapper {
    padding: 2em 0;
}

.swiper-slide {
    width: clamp(200px, 70%, 180px) !important;
    height: auto !important;
} */