.request-form__image {
    width: 90%;
}

.request-form__image > img {
    width: 100%;
}

.request-form__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
}

.request-submit {
    /* display: block; */
    padding: 0.85em 2em;
    max-width: 70%;

    letter-spacing: 0.25em;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: white;
    background-color: var(--dark-blue);
    border-radius: 0.7em;
    box-shadow: 3px 5px 15px var(--dark-blue-shadow);
}

@media (min-width: 768px) {
    .request-form__wrapper {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        width: 80%;
        margin: 0 auto;
    }

    .request-form__wrapper > * {
        flex-basis: 50%;
    }

    .request-form__content {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* .request-submit {
        display: block;
        margin: 0 auto;
    } */
}